<h1>이 글의 카테고리는: <%= @post.category.name %></h1>
<h1>이 글의 제목은: <%= @post.title %></h1>
<p>이 글의 내용은: <%= @post.content %></p>
<%= link_to '목록으로', posts_path %>



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Update Post</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Post</h4>
      </div>
      <div class="modal-body">
        <p>
        <%= render 'edit' %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>